<ion-header>
  <ion-img class="logo" src="/assets/icon/nikeLogo.svg"/>
</ion-header>

<ion-content>
  <ion-img class="img1" src="/assets/img1.png"/>
    <h1 class="title1">SUMMER</h1>
    <h1 class="title2">COLLECTIONS</h1>
    <h1 class="title3">2022</h1>
    <div class="subtitle1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
    </div>

    <div class="button-container">
      <ion-button class="button" size="large" shape="round" color="warning"   (click)="proxpage2()">
        <span class="button-text">GET STARTED</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
    

</ion-content>

<ion-footer>
</ion-footer>
