.logo{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.title1{
  font-family: "Holtwood One Sc", serif;
  font-size: 38px;
  position: static;
  margin-top: 90%;
  margin-left: 30px;
  color: #144273;
}

.title2{
  font-family: "Holtwood One Sc", serif;
  font-size: 38px;
  position: static;
  margin-top: 1px;
  margin-left: 30px;
  color: #144273;
}
.title3{
  font-family: "Holtwood One SC", serif;
  font-size: 46px;
  margin-top: 1px;
  margin-left: 30px;
  color: #ffffff;
}

.subtitle1{
  font-family: Istok Web;
  position: static;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 30px;
  color: #ffffff;
}

.img1{
  position: absolute;
  margin-top: 11%;
  margin-right: 7px;
}



.button1{
  display: flex;
  align-items: center;
  background-color:  #f2c94c;
  border-radius: 60px;
  padding: 15px 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}



.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; 
  margin-left: 70px;
  
}

.button-text {
  white-space: nowrap;
  align-items: center;
  color	: #ffffff;
  position: static;
  margin-left: 0%;
}

.icon{
  margin-left: 10px;
  color:#ffffff;
}

ion-content {
  --background: radial-gradient(circle at 110px 20pc,  #a8cd89,  #139d8d, #32e280);
  
}


